body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.videoContainer {
  width: 80%;
}

.player {
  border-radius: 50%;
}

body {
  background: linear-gradient(to right, #ffcc00, #ff6699);
  /* You can adjust the color codes to your preference */
  margin: 0;
  font-family: "Arial", sans-serif;
}
